<!DOCTYPE html>
<html lang="es-es">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/seCabecera.css" type="text/css">
    <link rel="stylesheet" href="~/css/seMenu.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="~/ts/tsUtilidades.js"></script>
    <script src="~/ts/tsInfoSelector.js"></script>
    <script src="~/ts/tsSelectores.js"></script>
    <script src="~/ts/tsGrid.js"></script>
    <script src="~/ts/tsMenu.js"></script>
</head>

@using Gestor.Elementos

<body>
    @{
        var datosDeConexion = (DatosDeConexion)ViewBag.DatosDeConexion;
    }

    <div class="container-fluid">
        <header>
            <table id="tablaCabecera" class="table">
                <tr>
                    <td class="celdaCabeceraIzquierda">
                        <img id="id_menu"
                             src="~/images/bars-solid.svg"
                             class="btn-menu fa-icono"
                             modal-menu="id-modal-menu"
                             onclick="Menu.MostrarMenu()"
                             menu-abierto="false" />

                        <input id="id_producto"
                               type="button"
                               class="etiquetaIzquierda"
                               value="Sitema de elementos" />
                    </td>
                    <td class="celdaSeparador">
                    </td>
                    <td class="celdaCabecera">
                        <input id="idConsultas" type="text" class="estiloCeldaCabecera" value="Consultas" readonly />
                    </td>
                    <td class="celdaCabecera">
                        <input id="idFavoritos" type="text" class="estiloCeldaCabecera" value="Favoritos" readonly />
                    </td>
                    <td class="celdaCabeceraDerecha">
                        <input id="idusuario" type="text" class="estiloCeldaDerecha" value="@datosDeConexion.Usuario" readonly />
                    </td>
                </tr>
            </table>

            <div id="id-modal-menu" class="modal-menu">
                <div id="id_contenedormenu" class="menu-contenedor">
                    @*@Html.Raw(datosDeConexion.RenderMenu())*@
                    <ul id='id_menuraiz' class="menu-contenido">
                        <li>
                            <a>
                               <img src="~/images/cog-solid.svg" class="icono izquierdo" />
                               Configuracion
                               <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_configuracion')"/>
                            </a>
                            <ul id ="id_menu_configuracion" name ="menu" menu-plegado="true" >
                                <li><a>Funcionalidad</a></li>
                                <li>
                                    <a>
                                        <img src="~/images/cog-solid.svg" class="icono izquierdo" />
                                        Accesos
                                        <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_accesos')" />
                                    </a>
                                   <ul id ="id_menu_accesos" name ="menu" menu-plegado="true">
                                       <li>
                                           <input id='id_menu-usuarios' type='button' class='menu-opcion' value='Usuarios' onclick='Menu.OpcionSeleccionada(' Usuarios')' />
                                       </li>
                                       <li>
                                           <input id='id_menu-permisos' type='button' class='menu-opcion' value='Permisos' onclick='Menu.OpcionSeleccionada(' Permisos')' />
                                       </li>
                                   </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>
                                <img src="~/images/home-solid.svg" class="icono izquierdo" />
                                Maestros
                                <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_maestros')" />
                            </a>
                            <ul id="id_menu_maestros" name="menu" menu-plegado="true">
                            </ul>
                        </li>
                        <li>
                            <a>
                                <img src="~/images/cog-solid.svg" class="icono izquierdo" />
                                Gestión documental
                                <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_gestion_documental')" />
                            </a>
                            <ul id="id_menu_gestion_documental" name="menu" menu-plegado="true">
                            </ul>
                        </li>
                        <li>
                            <a>
                                <img src="~/images/cog-solid.svg" class="icono izquierdo" />
                                Gestión administrativa
                                <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_gestion_administrativa')" />
                            </a>
                            <ul id="id_menu_gestion_administrativa" name="menu" menu-plegado="true">
                            </ul>
                        </li>
                        <li>
                            <a>
                                <img src="~/images/cog-solid.svg" class="icono izquierdo" />
                                Gestión jurídica
                                <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_gestion_jurídica')" />
                            </a>
                            <ul id="id_menu_gestion_jurídica" name="menu" menu-plegado="true">
                            </ul>
                        </li>
                        <li>
                            <a>
                                <img src="~/images/cog-solid.svg" class="icono izquierdo" />
                                Gestión logística
                                <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_gestion_logística')" />
                            </a>
                            <ul id="id_menu_gestion_logística" name="menu" menu-plegado="true">
                            </ul>
                        </li>
                        <li>
                            <a>
                                <img src="~/images/cog-solid.svg" class="icono izquierdo" />
                                Gestión técnica
                                <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_gestion_técnica')" />
                            </a>
                            <ul id="id_menu_gestion_técnica" name="menu" menu-plegado="true">
                            </ul>
                        </li>
                        <li>
                            <a>
                                <img src="~/images/cog-solid.svg" class="icono izquierdo" />
                                Gestión financiera
                                <img src="~/images/angle-down-solid.svg" class="icono derecho" onclick="Menu.MenuPulsado('id_menu_gestion_financiera')" />
                            </a>
                            <ul id="id_menu_gestion_financiera" name="menu" menu-plegado="true">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </header>

        <div class="table">
            <div class="row">
                <div class="col">
                    <div id="contenido" style="width: 100%" ;>
                        <main role="main" class="pb-3">
                            @RenderBody()
                            <br />
                            <br />
                        </main>
                    </div>
                </div>
            </div>
        </div>

        <footer class="border-top footer text-muted">
            <div class="text-info" width="100%">
                <input id="Mensaje" style="width:100%" readonly value="" />
            </div>
            <div class="text-center">
                <div style="float: left">
                    &copy;@datosDeConexion.ServidorWeb - @datosDeConexion.ServidorBd:@datosDeConexion.Bd
                </div>
                <div style="float: right">
                    Version: @datosDeConexion.Version - Usuario: @datosDeConexion.Usuario
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </footer>


        @RenderSection("Scripts", required: false)

        <script>


        </script>

        <partial name="_CookieConsentPartial" />
    </div>
</body>
</html>




