<!DOCTYPE html>
<html lang="es-es">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/PanelDeControl.css" type="text/css">
    <link rel="stylesheet" href="~/css/Formulario.css" type="text/css">
    <link rel="stylesheet" href="~/css/ControlesDto.css" type="text/css">
    <link rel="stylesheet" href="~/css/Grid.css" type="text/css">
    <link rel="stylesheet" href="~/css/ApiDeArchivos.css" type="text/css">
    <link rel="stylesheet" href="~/css/CrudCreacion.css" type="text/css">
    <link rel="stylesheet" href="~/css/CrudEdicion.css" type="text/css">
    <link rel="stylesheet" href="~/css/CrudBase.css" type="text/css">
    <link rel="stylesheet" href="~/css/CrudModal.css" type="text/css">
    <link rel="stylesheet" href="~/css/seMenu.css" type="text/css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/_Literales/Literales.js"></script>
    <script src="~/js/_TiposDeDatos/TiposDeDatos.js"></script>
    <script src="~/js/Utilidades.js"></script>
    <script src="~/js/InfoSelector.js"></script>
    <script src="~/js/Diccionario.js"></script>
    <script src="~/js/HistorialDeNavegacion.js"></script>
    <script src="~/js/_Api/ApiDeAjax.js"></script>
    <script src="~/js/_Api/ApiDeArchivos.js"></script>
    <script src="~/js/_Api/ApiCrud.js"></script>
    <script src="~/js/ArbolDeMenu.js"></script>
    <script src="~/js/InicializarEntorno.js"></script>
    <script src="~/js/_Formulario/FormularioBase.js"></script>
    <script src="~/js/_Crud/CrudBase.js"></script>
    <script src="~/js/_Crud/GridDeDatos.js"></script>
    <script src="~/js/_Crud/CrudCreacion.js"></script>
    <script src="~/js/_Crud/CrudEdicion.js"></script>
    <script src="~/js/_Crud/ModalConGrid.js"></script>
    <script src="~/js/_Crud/ModalParaRelacionar.js"></script>
    <script src="~/js/_Crud/ModalParaConsultarRelaciones.js"></script>
    <script src="~/js/_Crud/ModalDeSeleccion.js"></script>
    <script src="~/js/_Crud/CrudMantenimiento.js"></script>
    <script src="~/js/_Crud/GestorDeEventos.js"></script>
    <script>
        EntornoSe.InicializarHistorial();
    </script>
</head>

@using ServicioDeDatos

<body class="body-pagina">

    @{
        var datosDeConexion = (DatosDeConexion)ViewBag.DatosDeConexion;
    }

    <div id="contenedor-pagina" class="pagina">

        <!--  Cabecera de la pagina -->
        <div id="cabecera-de-pagina" class="cabecera">
            <div class="cabecera-menu">
                <img id="id-menu"
                     src="~/images/menu/bars-solid.svg"
                     class="btn-menu fa-icono"
                     modal-menu="id-modal-menu"
                     onclick="ArbolDeMenu.MostrarMenu()"
                     menu-abierto="false" />

                <input id="id-producto" type="text" value="Sitema de elementos" readonly />
            </div>
            <div class="cabecera-separador"></div>
            <div class="cabecera-consultas">
                <input id="id-Consultas" type="text" value="Consultas" readonly />
            </div>
            <div class="cabecera-favoritos">
                <input id="id-Favoritos" type="text" value="Favoritos" readonly />
            </div>
            <div class="cabecera-opciones">
                <form id=logout-form action=https://localhost:44396/Acceso/logout/ method=post>
                    <button value=Submit type=submit>Logout</button>
                </form>
            </div>
        </div>

        <!--  cuerpo de la pagina -->
        <div id="cuerpo-de-pagina" class="cuerpo">
            @RenderBody()
            <div id="CapaDeBloqueo" class="sin-capa-de-bloqueo">
            </div>
        </div>

        <!--  Pie de la pagina -->
        <div id="pie-de-pagina" class="pie">
            <div class="pie-mensaje">
                <div class="pie-mensaje-contenedor-hitorial">
                    <img id="id-abrir-historial"
                         src="~/images/menu/bars-solid.svg"
                         class="btn-menu fa-icono"
                         modal-menu="id-modal-historial"
                         onclick="EntornoSe.MostrarHistorial()"
                         historial-abierto="false" />
                </div>
                <div class="pie-mensaje-contenedor">
                    <input id="Mensaje" readonly value="" />
                </div>
            </div>
            <div class="pie-conexion">
                <div class="pie-conexion-datos">
                    <input id="i-pie-conexion-datos" readonly value="@datosDeConexion.ServidorWeb - @datosDeConexion.ServidorBd:@datosDeConexion.Bd" />
                </div>
                <div class="pie-conexion-usuario">
                    <input id="i-pie-conexion-usuario" readonly value="Version: @datosDeConexion.Version - Usuario: @datosDeConexion.Login" />
                </div>
            </div>
        </div>
    </div>

    <div id="id-modal-menu" class="modal-menu">
        <div id="id-contenedor-menu" class="menu-contenedor">
        </div>
    </div>

    <div id="id-modal-historial" class="modal-historial">
        <div id="id-contenedor-historial" class="historial-contenedor">
            <textarea id="mensaje-historial" readonly value="">                
            </textarea>
            <img id="id-cerrar-historial"
                 src="~/images/menu/bars-solid.svg"
                 class="btn-menu fa-icono"
                 modal-menu="id-modal-historial"
                 onclick="EntornoSe.OcultarHistorial()"/>
        </div>
    </div>

    @RenderSection("Scripts", required: false)

    <script>

        function Ajustar() {
            EntornoSe.AjustarDivs();
        }

        function Inicializar() {
            EntornoSe.IniciarEntorno();
        }

        window.onload = Inicializar;
        window.onresize = Ajustar;
    </script>


</body>
</html>




