<!DOCTYPE html>
<html lang="es-es">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/sistemaDeElementos.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="~/ts/tsUtilidades.js"></script>
    <script src="~/ts/tsInfoSelector.js"></script>
    <script src="~/ts/tsSelectores.js"></script>
    <script src="~/ts/tsGrid.js"></script>
</head>

@using Gestor.Elementos

<body>
    @{
        var datosDeConexion = (DatosDeConexion)ViewBag.DatosDeConexion;
    }

    <div class="container-fluid">
        <header>
            <table id="tablaCabecera" class="table">
                <tr>
                    <td class="celdaCabeceraIzquierda">
                        <input id="idproducto" type="button" class="etiquetaIzquierda" value="Sitema de elementos" onclick="mostrar()" />
                    </td>
                    <td class="celdaSeparador">
                    </td>
                    <td class="celdaCabecera">
                        <input id="idConsultas" type="text" class="estiloCeldaCabecera" value="Consultas" readonly />
                    </td>
                    <td class="celdaCabecera">
                        <input id="idFavoritos" type="text" class="estiloCeldaCabecera" value="Favoritos" readonly />
                    </td>
                    <td class="celdaCabeceraDerecha">
                        <input id="idusuario" type="text" class="estiloCeldaDerecha" value="@datosDeConexion.Usuario" readonly />
                    </td>
                </tr>
            </table>

            <div class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3 ">
                <a class="navbar-brand" href="#">Opciones</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Permisos" asp-action="Index">Permisos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Instructors" asp-action="Index">Profesores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departamentos</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Opción" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar opción</button>
                    </form>
                </div>
            </div>
        </header>

        <div class="table">
            <div class="row">
                <div class="col-xs-3">
                    <div id="sidebar" class="sidebar" style="width: 300px;">
                        <a href="#" class="boton-cerrar" onclick="ocultar()">×</a>
                        <ul class="menu">
                            <li><a href="#">Opción 1</a></li>
                            <li><a href="#">Opción 2</a></li>
                            <li><a href="#">Opción 3</a></li>
                            <li><a href="#">Opción 4</a></li>
                            <li><a href="#">Opción 5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div id="contenido" style="width: 100%" ;>
                        <main role="main" class="pb-3">
                            @RenderBody()
                            <br />
                            <br />
                        </main>
                    </div>
                </div>
            </div>
        </div>

        <footer class="border-top footer text-muted">
            <div class="text-info" width="100%">
                <input id="Mensaje" style="width:100%" readonly value="" />
            </div>
            <div class="text-center">
                <div style="float: left">
                    &copy;@datosDeConexion.ServidorWeb - @datosDeConexion.ServidorBd:@datosDeConexion.Bd
                </div>
                <div style="float: right">
                    Version: @datosDeConexion.Version - Usuario: @datosDeConexion.Usuario
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </footer>


        @RenderSection("Scripts", required: false)

        <script>
            

        function mostrar() {
            document.getElementById("sidebar").style.width = "300px";
        }

        function ocultar() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("contenido").style.marginLeft = "0";
        }
        </script>

        <partial name="_CookieConsentPartial" />
    </div>
</body>
</html>




