<!DOCTYPE html>
<html lang="es-es">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Controles.css" type="text/css">
    <link rel="stylesheet" href="~/css/Grid.css" type="text/css">
    <link rel="stylesheet" href="~/css/ApiDeArchivos.css" type="text/css">
    <link rel="stylesheet" href="~/css/CrudCreacion.css" type="text/css">
    <link rel="stylesheet" href="~/css/CrudEdicion.css" type="text/css">
    <link rel="stylesheet" href="~/css/CrudBase.css" type="text/css">
    <link rel="stylesheet" href="~/css/CrudModal.css" type="text/css">
    <link rel="stylesheet" href="~/css/seMenu.css" type="text/css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />*@

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>*@

    <script src="~/ts/Literales/Literales.js"></script>
    <script src="~/ts/Utilidades.js"></script>
    <script src="~/ts/InfoSelector.js"></script>
    <script src="~/ts/Diccionario.js"></script>
    <script src="~/ts/HistorialDeNavegacion.js"></script>
    <script src="~/ts/_Api/ApiDeAjax.js"></script>
    <script src="~/ts/_Api/ApiDeArchivos.js"></script>
    <script src="~/ts/ArbolDeMenu.js"></script>
    <script src="~/ts/InicializarEntorno.js"></script>
    <script src="~/ts/_Crud/CrudBase.js"></script>
    <script src="~/ts/_Crud/GridDeDatos.js"></script>
    <script src="~/ts/_Crud/CrudCreacion.js"></script>
    <script src="~/ts/_Crud/CrudEdicion.js"></script>
    <script src="~/ts/_Crud/ModalConGrid.js"></script>
    <script src="~/ts/_Crud/ModalParaRelacionar.js"></script>
    <script src="~/ts/_Crud/ModalDeSeleccion.js"></script>
    <script src="~/ts/_Crud/CrudMantenimiento.js"></script>
    <script src="~/ts/_Crud/GestorDeEventos.js"></script>
    <script>
        EntornoSe.InicializarHistorial();
    </script>
</head>

@using ServicioDeDatos

<body>

    @{
        var datosDeConexion = (DatosDeConexion)ViewBag.DatosDeConexion;
    }

    <div class="container-fluid">
        <header>
            <table id="tablaCabecera" class="table">
                <tr>
                    <td class="celdaCabeceraIzquierda">
                        <img id="id_menu"
                             src="~/images/menu/bars-solid.svg"
                             class="btn-menu fa-icono"
                             modal-menu="id-modal-menu"
                             onclick="ArbolDeMenu.MostrarMenu()"
                             menu-abierto="false" />

                        <input id="id_producto"
                               type="button"
                               class="etiquetaIzquierda"
                               value="Sitema de elementos" />
                    </td>
                    <td class="celdaSeparador">
                    </td>
                    <td class="celdaCabecera">
                        <input id="idConsultas" type="text" class="estiloCeldaCabecera" value="Consultas" readonly />
                    </td>
                    <td class="celdaCabecera">
                        <input id="idFavoritos" type="text" class="estiloCeldaCabecera" value="Favoritos" readonly />
                    </td>
                    <td class="celdaCabeceraDerecha">
                        <input id="idusuario" type="text" class="estiloCeldaDerecha" value="@datosDeConexion.Usuario" readonly />
                        <div>
                            <form id=logout-form action=https://localhost:44396/Acceso/logout/ method=post>
                                <button value=Submit type=submit>Logout</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="id-modal-menu" class="modal-menu">
                <div id="id_contenedormenu" class="menu-contenedor">
                </div>
            </div>

        </header>

        <div class="table">
            <div class="row">
                <div class="col">
                    <div id="contenido" style="width: 100%" ;>
                        <main role="main" class="pb-3">
                            @RenderBody()
                            <br />
                            <br />
                        </main>
                    </div>
                </div>
            </div>
        </div>

        <div id="CapaDeBloqueo" class="sin-capa-de-bloqueo">
        </div>

        <footer class="border-top footer text-muted">
            <div class="text-info" width="100%">
                <input id="Mensaje" style="width:100%" readonly value="" />
            </div>
            <div class="text-center">
                <div style="float: left">
                    &copy;@datosDeConexion.ServidorWeb - @datosDeConexion.ServidorBd:@datosDeConexion.Bd
                </div>
                <div style="float: right">
                    Version: @datosDeConexion.Version - Usuario: @datosDeConexion.Usuario
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </footer>

        @RenderSection("Scripts", required: false)

        <script>
            window.onload = EntornoSe.IniciarEntorno('@datosDeConexion.Usuario');
        </script>


        <partial name="_CookieConsentPartial" />
    </div>
</body>
</html>




