@model GestorUniversitario.IuModelo.IuEstudiante

@{
    ViewData["Title"] = $"{@ViewBag.Crud.Titulo}";
}

    <h2>
       @Html.DisplayFor(model => model.Apellido),  @Html.DisplayFor(model => model.Nombre)
    </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.InscritoEl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InscritoEl)
        </dd>

    </dl>
    <div>
        <div style="display: inline-block; vertical-align: top; width : 30%">
            <p class="font-weight-bolder">@ViewBag.Crud.Detalle.TituloDetalle</p>
        </div>
        @*style="display: inline-block; vertical-align: top;*@
        <div class="ladoDerecho">
            <table class="table">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Grado</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Inscripciones)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Curso.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Grado)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action=@ViewBag.Crud.Editor.Ir asp-route-id="@Model.Id">Editar</a>
</div>
<div>
    <a asp-action=@ViewBag.Crud.Mantenimiento.Ir>@ViewBag.Crud.Mantenimiento.Titulo</a>
</div>
