@model IEnumerable<GestorUniversitario.ModeloDeClases.Estudiante>

@{
    ViewData["Title"] = @ViewBag.Crud.TituloDelCrud;
}

<h2>Estudiantes</h2>

<p>
    <a asp-action=@ViewBag.Crud.IraCrear>@ViewBag.Crud.TituloDeLaCreacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <a asp-action=@ViewBag.Crud.IrAlMantenimiento  asp-route-orden ="@ViewData[UniversidadDeMurcia.Objetos.EstudianteEnlace.Parametro.Nombre]"> @Html.DisplayNameFor(model => model.Apellido) </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                <a asp-action=@ViewBag.Crud.IrAlMantenimiento asp-route-orden="@ViewData[UniversidadDeMurcia.Objetos.EstudianteEnlace.Parametro.InscritoEl]">  @Html.DisplayNameFor(model => model.InscritoEl)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InscritoEl)
            </td>
            <td>
                <a asp-action=@ViewBag.Crud.IraEditar asp-route-id="@item.Id">Editar</a> |
                <a asp-action=@ViewBag.Crud.IraDetalle asp-route-id="@item.Id">Detalles</a> |
                <a asp-action=@ViewBag.Crud.IraBorrar asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
